<div class="create_commlmen_wrapper">
	<form method="post" action="/comments/<%=id%>/create/" id="new_comment"/>
	  <div class="new_comment_title">Create Comment</div>
	  <div class="comment_message"></div>
	  <textarea name="content" id="comment_content"></textarea>
	  <button type="submit">Submit</button>
	</form>
</div>