<div class="login_wrapper">
	<h1>LOG IN</h1>
	<form class="login" method="post" action="/user/login/" accept-charset="UTF-8">
		<div class="row">
			<label for="LoginEmail">Email</label>
			<input type="text" name="LoginEmail" id="LoginEmail"/>
			<span class="email_error"></span>
		</div>
		<div class="row">
			<label for="Password">Password</label>
			<input type="password" name="Password" id="Password"/>
			<span class="password_error"></span>
		</div>
		<div class="row">
			<button type="submit">login</button>
		</div>
	</form>
</div>