<div class="signup_wrapper">
	<h1>SIGN-UP</h1>
	<form class="signup" method="post" action="/user/signup/" accept-charset="UTF-8">
		<div class="row">
			<label for="Username">Username</label>
			<input type="text" name="Username" id="Username"/>
			<span class="username_error"></span>
		</div>
		<div class="row">
			<label for="Email">Email</label>
			<input type="text" name="Email" id="Email"/>
			<span class="email_error"></span>
		</div>
		<div class="row">
			<label for="First">First Name</label>
			<input type="text" name="First" id="First"/>
			<span class="first_error"></span>
		</div>
		<div class="row">
			<label for="Last">Last Name</label>
			<input type="text" name="Last" id="Last"/>
			<span class="last_error"></span>
		</div>
		<div class="row">
			<label for="Password">Password</label>
			<input type="password" name="Password" id="Password"/>
			<span class="password_error"></span>
		</div>
		<div class="row">
			<button type="submit">Signup</button>
		</div>
	</form>
</div>