<div class="new_post_wrapper">
	
	<form method="post" action="/posts/create/" id="new_post"/>
	  <div class="new_post_title">New Post</div>
	  <div class="posts_message"></div>
	  <textarea name="content" id="post_content"></textarea>
	  <button type="submit">Submit</button>
	</form>
</div>