/***************** layout widths *****************/
$extra-small-width:300px !default;
$small-width: 700px !default;
$medium-width: 1000px !default;
$large-width: 1800px !default;

$logo-height:50px;
$logo-width:250px;

/***************** colors *****************/
$main-color:#8bc63f;
$secondary-color:#bbbdc0;

/***************** font *****************/
$font-family: arial;
$font-size-large: 18px;
$font-size-med: 15px;
$font-size-reg: 12px;